@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?6wnzug');
  src: url('../fonts/icomoon.eot?6wnzug#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6wnzug') format('truetype'),
    url('../fonts/icomoon.woff?6wnzug') format('woff'),
    url('../fonts/icomoon.svg?6wnzug#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}